---
import Layout from '@/layouts/Layout.astro';

import { allPlaylists, songs } from '@/lib/data.js';

const { id } = Astro.params;
const playlist = allPlaylists.find((playlist) => playlist.id === id);
const playlistSongs = songs.filter(
  (song) => song.albumId === playlist?.albumId,
);
---

<Layout>
  <div
    id='playlist-container'
    class='relative transition-all duration-1000 bg-section-bg m-2 rounded-lg z-10 w-full overflow-x-hidden flex flex-col'
    transition:name=`playlist-${id}-box`
  >
    <header class='flex flex-row gap-4 items-center p-6 mt-5'>
      <picture class='size-40 aspect-square flex'>
        <img
          src={playlist?.cover}
          alt={playlist?.title}
          class='object-cover shadow-lg'
          transition:name=`playlist-${id}-image`
        />
      </picture>
      <div class='flex flex-col gap-2'>
        <p class='text-gray-300 text-sm'>Playlist</p>
        <h1
          class='text-white text-4xl font-extrabold'
          transition:name=`playlist-${id}-title`
        >
          {playlist?.title}
        </h1>
        <p
          class='text-zinc-400 text-sm font-normal'
          transition:name=`playlist-${id}-artists`
        >
          {playlist?.artists.join(', ')}
        </p>
      </div>
    </header>
    <div
      class=`absolute inset-0 bg-linear-to-b from-green-500 via-green-700/30 to-section-bg/80 rounded-lg h-[40%] -z-10`
    >
    </div>
  </div>
</Layout>
